.child {
  flex: 1 1 auto;
  padding-left: 1.4em;
}

.heart,
.disabled {
  width: 2.2em;
  height: 2.2em;
}

.heart {
  color: red;
  cursor: pointer;
}

.disabled {
  color: gray;
  pointer-events: none;
}
